.error {
  position: fixed;
  background-color: blue;
  color: #ffff;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error .home-btn {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #fff;
  color: blue;
  cursor: pointer;
}
